## 참고해볼만한 노트북:
이외에 좋은 자료가 있다면 실시간으로 슬랙 공유 해주세요!  
* https://www.kaggle.com/gunesevitan/advanced-feature-engineering-tutorial-with-titanic

# Rules
* 주어진 시간을 준수해주세요. Kaggle 제출과 채점까지 마친 상태여야 합니다.
* 힌트는 15분에 한개씩 나갑니다. 힌트와 경기 팁이 같이 나가니 꼭 읽어주세요.

In [75]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

# Read Data

In [76]:
train = pd.read_csv('../Data/kaggle/train.csv')
test = pd.read_csv('../Data/kaggle/test.csv')

In [77]:
train.sample()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
342,343,0,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0,NaN,S

In [78]:
test.sample()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
46,938,1,"Chevre, Mr. Paul Romaine",male,45.0,0,0,PC 17594,29.7,A9,C

## Check null values

In [79]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [80]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

# Dealing with Missing Values
결측치 처리하기

# Is there new feature we can create?
기존의 데이터를 활용하여 새로운 데이터를 만들어 줄 수 있나요?

# Outliers?
아웃라이어 처리를 어떻게 해줘야 할까요?

# Deal with Categorical features
카테고리의 변수의 경우 어떻게 처리해주어야 하나요?

# Make Data to train Model

In [110]:
# 트레이닝에 사용할 변수 목록을 적어주세요.
independents = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
dependent = ['Survived']

In [82]:
# fill data which contains null value in columns we want to use
# but fill null data as zero is not the best choice. find better way.
train = train[independents + dependent].fillna(0)
test = test[independents].fillna(0)

In [111]:
# 적어주신 변수 목록을 사용해 데이터를 트레이닝에 맞는 포맷으로 변경합니다.
train_X = train[independents]
train_y = train[dependent]

test_X = test[independents]

# Model

In [84]:
# 학습 fit()
reg = LinearRegression().fit(train_X, train_y)

In [85]:
# x 계수
reg.coef_

array([[-0.19518938, -0.00368037, -0.03816444,  0.05986234,  0.00081683]])

In [97]:
# 절편
reg.intercept_

array([0.89286292])

In [98]:
prediction = reg.predict(test_X)

In [99]:
# 회귀 예측 결과를 classification으로 바꿔주기
# 여기에서는 회귀 예측 결과가 0.5 이상일 때에는 1, 그렇지 않으면 0으로 바꿔줬습니다.
prediction_binomial = [1 if p>=0.5 else 0 for p in prediction]

In [104]:
df = pd.DataFrame({'prediction': [p[0] for p in prediction],
                   'prediction_binomial': prediction_binomial})

In [106]:
df.sample()

     prediction  prediction_binomial
116    0.312553                    0

# Submission

In [88]:
submission = pd.read_csv('../Data/kaggle/gender_submission.csv')

In [107]:
submission['Survived'] = df['prediction_binomial']

In [109]:
submission.to_csv('./submission_baseline.csv', index=False)